.header {
	position: static;
	z-index: 30;
	width: 100%;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: var(--bg-color);
	}

	&--sticky {
		position: sticky;
		transition: top 0.3s;
	}
}
