.hero {
	position: relative;
	border-radius: var(--radius);
	padding: 80px;
	padding-bottom: 90px;
	background-position: bottom 0 right 0;
	background-size: 513px 323px;
	background-repeat: no-repeat;
	background-color: var(--light-bg-color);

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 160px;
		height: 396px;
		background-image: url('@img/general/bg-1.svg');
		background-position: top 0 right 0;
		background-repeat: no-repeat;

		@media (max-width: 1200px) {
			content: none;
		}
	}

	&__content {
		max-width: 760px;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 37px;
		margin-bottom: 63px;

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__text {
		max-width: 540px;
	}

	&__link {
		@media (max-width: 576px) {
			width: 100%;
		}
	}

	@media (max-width: 1200px) {
		padding-bottom: 215px;
	}

	@media (max-width: 992px) {
		padding: 40px;
		padding-bottom: 100px;
		background-size: 300px 199px;
	}

	@media (max-width: 768px) {
		padding: 40px;
		padding-bottom: 240px;
		background-size: 300px 199px;
	}

	@media (max-width: 576px) {
		padding: 20px;
		padding-bottom: 240px;
		background-size: 300px 199px;
	}
}
