.news {
	&__wrap {
		position: relative;
		margin-bottom: 40px;

		@media (max-width: 1400px) {
			padding: 0 55px;
		}

		@media (max-width: 992px) {
			padding: 0;
			padding-bottom: 50px;
		}
	}

	&__title {
		margin-bottom: 84px;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&-slider {
		.swiper-slide {
			display: flex;
			justify-content: center;
			box-sizing: border-box;
		}

		@media (min-width: 1401px) {
			.swiper-wrapper {
				display: flex;
				justify-content: space-between;
				gap: 10px;
			}

			.swiper-slide {
				max-width: fit-content;
			}
		}
	}

	&__pagination {
		display: none;

		@media (max-width: 992px) {
			display: block;
		}
	}

	&__nav {
		width: fit-content;
		height: 30px;
		color: var(--light-color);

		@media (max-width: 992px) {
			display: none;
		}
	}

	&__link {
		@media (max-width: 576px) {
			display: none;
		}
	}
}

.news-card {
	overflow: hidden;
	border-radius: 20px;
	max-width: 260px;
	background-color: var(--light-bg-color);

	&__img {
		display: flex;
		width: 100%;
		min-height: 160px;
		max-height: 160px;

		img {
			width: 100%;
		}
	}

	&__content {
		padding: 27px 30px;
	}

	&__date {
		display: inline-block;
		margin-bottom: 18px;
		font-size: 14px;
		color: var(--gray-color);
	}

	&__title {
		margin-bottom: 39px;
	}

	&__link {
		padding: 15px;
		width: 100%;
		font-size: 14px;
	}

	@media (max-width: 1400px) {
		max-width: 290px;
	}

	@media (max-width: 420px) {
		width: 100%;
		max-width: 100%;
	}
}
