<section class="section">
	<div class="container container--line">
		<div class="news">
			<h2 class="news__title title title--big">
				Новости
			</h2>

			<div class="news__wrap">
				<div class="news-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="news__card news-card">
								<div class="news-card__img">
									<img src="@img/news/img-1.jpg" alt="Фотография новости">
								</div>
								<div class="news-card__content">
									<time class="news-card__date text text--min" datetime="2025-05-26">26 мая 2025</time>
									<h3 class="news-card__title text text--min">
										НТЦ "Модуль" на выставке ExpoElectronica 2025
									</h3>
									<a class="news-card__link link link--min link--transparent link-reset" href="#">Читать полностью</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="news__card news-card">
								<div class="news-card__img">
									<img src="@img/news/img-1.jpg" alt="Фотография новости">
								</div>
								<div class="news-card__content">
									<time class="news-card__date text text--min" datetime="2025-05-26">26 мая 2025</time>
									<h3 class="news-card__title text text--min">
										НТЦ "Модуль" на выставке ExpoElectronica 2025
									</h3>
									<a class="news-card__link link link--min link--transparent link-reset" href="#">Читать полностью</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="news__card news-card">
								<div class="news-card__img">
									<img src="@img/news/img-1.jpg" alt="Фотография новости">
								</div>
								<div class="news-card__content">
									<time class="news-card__date text text--min" datetime="2025-05-26">26 мая 2025</time>
									<h3 class="news-card__title text text--min">
										НТЦ "Модуль" на выставке ExpoElectronica 2025
									</h3>
									<a class="news-card__link link link--min link--transparent link-reset" href="#">Читать полностью</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="news__card news-card">
								<div class="news-card__img">
									<img src="@img/news/img-1.jpg" alt="Фотография новости">
								</div>
								<div class="news-card__content">
									<time class="news-card__date text text--min" datetime="2025-05-26">26 мая 2025</time>
									<h3 class="news-card__title text text--min">
										НТЦ "Модуль" на выставке ExpoElectronica 2025
									</h3>
									<a class="news-card__link link link--min link--transparent link-reset" href="#">Читать полностью</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="news__pagination swiper-pagination"></div>

				<div class="news__nav news__nav--prev swiper-button-prev"></div>
				<div class="news__nav news__nav--next swiper-button-next"></div>
			</div>

			<a class="news__link link link-reset" href="#">Все новости</a>
		</div>
	</div>
</section>